**/*.ps
Flocking/EM/EM_Exp5/sim_data/test
Flocking/EM/EM_Exp1
Flocking/EM/EM_Exp2
Flocking/EM/EM_Exp3
Flocking/EM/EM_Exp4
**/tmp
Flocking/NL
**/events*
Flocking/Result_Analysis/EM/EM_Exp5/Simulated_results_500ts_test1_3p_old